.training_plan_card {
    margin-bottom: 5px;
    padding-top: 10px;
    background-color: white;
    border-radius: 15px;
}

.registration_btn {
    margin-left: 5px;
}

.weather_card {
    padding: 5px 50px;
    padding-top: 20px;
    background-color: white;
    border-radius: 20px;
}

.icon_button {
    border: none;
    background-color: white;
    margin-top: 20px;
}

.new_icon_button {
    border: none;
    background-color: white;
}

.navbar_custom {
    background-color: #02A7A2;
}

.btn-secondary {
    background-color: #323232 !important;
}

.nav_icon {
    margin-right: 5px;
}

.edit_icon {
    margin-right: 12px;
}

.footer_image {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.footer_wrapper {
    background-color: white;
    margin-top: 10px;
    border-top: 2px solid black;
}

.footer_space {
    margin-bottom: 100px;
}

.plans_collection {
    margin-top: 20px;
}

.pad-da-stats {
    margin-bottom: 40px;
}

.some_run_notes_padding {
    margin-top: 10px;
}

.black_link {
    color: black;
}
