.training_plan_card {
    margin-bottom: 5px;
    padding-top: 10px;
    background-color: white;
    border-radius: 15px;
}

.registration_btn {
    margin-left: 5px;
}

.weather_card {
    padding: 5px 50px;
    padding-top: 20px;
    background-color: white;
    border-radius: 20px;
}

.icon_button {
    border: none;
    background-color: white;
    margin-top: 20px;
}

.navbar_custom {
    background-color: #02A7A2;
}

.btn-secondary {
    background-color: #323232 !important;
}
