body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form_spacing {
  margin-bottom: 5px;
}

.custom_plan_button {
  margin: 10px;
}

.input_box {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 10%;
  background-color: white;
  border-radius: 20px;
}

.run_entry_input_box {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 20px;
}

.login_input_box {
  padding-bottom: 30px;
  padding-top: 20px;
  margin-top: 17%;
  background-color: white;
  border-radius: 20px;
}

.training_col {
  width: 90%;
}

.button_spacing {
  margin-bottom: 10px;
  margin-left: 10px;
}

.label_margin {
  margin-right: 5px;
}
  
.widget_spacing {
  margin: 20px;
}

.run_card {
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
}

.icon_button {
  border: none;
  background-color: white;
}

.icon_button:focus{
  border: none;
}

.text_spacing {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.home_widgets {
  margin-top: 20px;
}

.training_run_spacing {
  margin-bottom: 30px;
}

.home_page {
  height: 100%;
}

.text_shadow {
  text-shadow: 2px 2px white;
}

.background_color {
  background-color: white;
  border-radius: 15px;
}

.text_shadow_small {
  text-shadow: 1px 1px white;
}

.edit_profile_padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.quote {
  color: black;
  text-align: center;
}

.btn-success {
  background-color: #02A7A2 !important;
}

.white_text {
  color: white;
}

.filter_dropdown {
  margin: 15px;
}

.loading_height {
  margin-top: 10%;
}

.custom_plan_submit {
  margin: 10px;
  margin-left: 25px;
}

.icon_button_main {
  border: none;
  background-color: #323232;
}

.warning_text {
  color: red
}

.homescreen_quote {
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel_margin {
  margin-top: 50px;
  margin-bottom: 50px;
}
